<a href="https://colab.research.google.com/github/GenaroHacker/crystal_clear/blob/main/input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#@title Sql
import sqlite3

def CreateTable( DATABASE_NAME , TABLE_NAME , TABLE_STRUCTURE ):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute('''
        CREATE TABLE ''' + TABLE_NAME + ''' ( ''' + TABLE_STRUCTURE + ''' )
    ''')
    myConnection.commit()
    myConnection.close()

def InsertRecord(DATABASE_NAME, RECORD):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute(RECORD)
    myConnection.commit()
    myConnection.close()

def InsertSeveralRecords(DATABASE_NAME, MULTIPLE_RECORDS):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    for i in MULTIPLE_RECORDS:
        myCursor.execute(i)
    myConnection.commit()
    myConnection.close()

def ReadRecords(DATABASE_NAME, TABLE_NAME):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute("SELECT * FROM " + TABLE_NAME)
    records=myCursor.fetchall()
    myConnection.close()
    return records

def ReadLastRecord(DATABASE_NAME, TABLE_NAME):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute("SELECT * FROM " + TABLE_NAME + " ORDER BY ID DESC LIMIT 1")
    records=myCursor.fetchall()
    myConnection.close()
    return records[0]

def UpdateRecord(DATABASE_NAME, RECORD):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute(RECORD)
    myConnection.commit()
    myConnection.close()

def RemoveRecord(DATABASE_NAME, RECORD):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute(RECORD)
    myConnection.commit()
    myConnection.close()

def RunCommand(DATABASE_NAME, COMMAND):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute(COMMAND)
    myConnection.commit()
    myConnection.close()

def ReadAllTableNames(DATABASE_NAME):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    records=myCursor.fetchall()
    myConnection.close()
    d = {}
    counter = 1
    for name in records:
      d[counter] = name[0]
      counter += 1
    #del d[len(d)]
    return d

def GetEntryAmount(DATABASE_NAME, TABLE_NAME):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute("SELECT COUNT(*) FROM " + TABLE_NAME)
    records=myCursor.fetchall()
    myConnection.close()
    return records[0][0]



if __name__ == "__main__":
    #Create one Table
    try:
        columns = """
                ID INTEGER PRIMARY KEY AUTOINCREMENT,
                ITEM_NAME VARCHAR(50),
                PRICE INTEGER,
                SECTION VARCHAR(20)"""
        CreateTable("BaseProducts","TableProducts",columns)
        print("Table created successfully!\n")
    except sqlite3.OperationalError:
        print("Table already exists!!!!\n")


    #Insert one record
    InsertRecord("BaseProducts","INSERT INTO TableProducts VALUES (NULL,'BALL',10,'SPORT')")
    print("Record inserted successfully!\n")


    #Insert several records
    InsertSeveralRecords("BaseProducts",[
        "INSERT INTO TableProducts VALUES (NULL,'GOLF STICK',25,'SPORT')",
        "INSERT INTO TableProducts VALUES (NULL,'GLASS',20,'CERAMIC')",
        "INSERT INTO TableProducts VALUES (NULL,'T-SHIRT',5,'CLOTHES')"
    ])
    print("Records inserted successfully!\n")


    #Read all records
    list_of_tuples = ReadRecords("BaseProducts","TableProducts")
    print("The list of tuples with all the records is:")
    print(list_of_tuples)


    #Read last record
    last_record = ReadLastRecord("BaseProducts","TableProducts")
    print("\nThe last record is:")
    print(last_record)


    #Update record
    UpdateRecord("BaseProducts","UPDATE TableProducts SET ITEM_NAME='BALL NAME UPDATED' WHERE ID=3")
    print("\nThe record with ID=3 has been updated successfully!\n")


    #Remove record
    RemoveRecord("BaseProducts","DELETE FROM TableProducts WHERE ID=3")
    print("The record with ID=4 has been removed successfully!\n")

    #Read all table names
    list_of_table_names = ReadAllTableNames("BaseProducts")
    print("The list of table names is:")
    print(list_of_table_names)

    #Get entry amount
    entry_amount = GetEntryAmount("BaseProducts","TableProducts")
    print("\nThe amount of entries in the table is:")
    print(entry_amount)

Table already exists!!!!

Record inserted successfully!

Records inserted successfully!

The list of tuples with all the records is:
[(1, 'BALL', 10, 'SPORT'), (2, 'GOLF STICK', 25, 'SPORT'), (4, 'T-SHIRT', 5, 'CLOTHES'), (5, 'BALL', 10, 'SPORT'), (6, 'GOLF STICK', 25, 'SPORT'), (7, 'GLASS', 20, 'CERAMIC'), (8, 'T-SHIRT', 5, 'CLOTHES')]

The last record is:
(8, 'T-SHIRT', 5, 'CLOTHES')

The record with ID=3 has been updated successfully!

The record with ID=4 has been removed successfully!

The list of table names is:
{1: 'TableProducts', 2: 'sqlite_sequence'}

The amount of entries in the table is:
7

In [25]:
#@title Functions
def show_paradigms():
  from pprint import pprint
  pprint(ReadAllTableNames("BaseParadigms"))

def start_insert_mode(PARADIGM_ID):
  while True:
    print("Type a phrase to incorporate into the paradigm [" + ReadAllTableNames("BaseParadigms")[PARADIGM_ID] + '] or type "End" to exit.')
    print("==========>")
    phrase = input()
    if phrase.lower() == "end":
      "Exiting..."
      INPUT_MODULE_MAIN_FUNC()
      break
    else:
      InsertRecord("BaseParadigms","INSERT INTO " + ReadAllTableNames("BaseParadigms")[PARADIGM_ID] + " VALUES (NULL,'" + phrase + "')")

def create_new_paradigm(name):
  #Create one Table
  try:
      columns = """
              ID INTEGER PRIMARY KEY AUTOINCREMENT,
              PHRASE VARCHAR(140)"""
      table_name = name.capitalize()
      CreateTable("BaseParadigms",table_name,columns)
      print("Table created successfully!\n")
  except sqlite3.OperationalError:
      print("Table already exists!!!!\n")

In [26]:
#@title Main execution
def INPUT_MODULE_MAIN_FUNC():
  
  print()
  print("Select the ID of the paradigm you want to add phrases to.")
  print("Type 0 to add a new paradigm.")
  print('Type "End" to exit.')
  print()
  print("Available paradigms:")
  show_paradigms()
  print()
  print("==========>")
  selected_paradigm_id = input("ID: ")

  if selected_paradigm_id.lower() == "end":
    return print("Exiting the input module")

  try:
    selected_paradigm_id = int(selected_paradigm_id)
  except ValueError:
    print()
    print("Only numbers are allowed.")
    INPUT_MODULE_MAIN_FUNC()

  
  if selected_paradigm_id == 0:
    print()
    print("Write the name for the new paradigm.")
    print("==========>")
    create_new_paradigm(input())
    INPUT_MODULE_MAIN_FUNC()

  elif selected_paradigm_id in ReadAllTableNames("BaseParadigms").keys():
    start_insert_mode(selected_paradigm_id)

  else:
    print("Invalid paradigm.")
    INPUT_MODULE_MAIN_FUNC()

INPUT_MODULE_MAIN_FUNC()

Select the ID of the paradigm you want to add phrases to.
Type 0 to add a new paradigm.
Type "End" to exit.

Available paradigms:
{1: 'Directivo', 2: 'sqlite_sequence', 3: 'Coach', 4: 'Gracioso'}

==========>
ID: 1
Type a phrase to incorporate into the paradigm [Directivo] or type "End" to exit.
==========>
end

Select the ID of the paradigm you want to add phrases to.
Type 0 to add a new paradigm.
Type "End" to exit.

Available paradigms:
{1: 'Directivo', 2: 'sqlite_sequence', 3: 'Coach', 4: 'Gracioso'}

==========>
ID: end
Exiting the input module