<a href="https://colab.research.google.com/github/GenaroHacker/crystal_clear/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/GenaroHacker/crystal_clear.git
%run crystal_clear/sql.ipynb

Cloning into 'crystal_clear'...
remote: Enumerating objects: 55, done.
remote: Counting objects: 100% (55/55), done.
remote: Compressing objects: 100% (52/52), done.
remote: Total 55 (delta 26), reused 11 (delta 1), pack-reused 0
Unpacking objects: 100% (55/55), done.
Table created successfully!

Record inserted successfully!

Records inserted successfully!

The list of tuples with all the records is:
[(1, 'BALL', 10, 'SPORT'), (2, 'GOLF STICK', 25, 'SPORT'), (3, 'GLASS', 20, 'CERAMIC'), (4, 'T-SHIRT', 5, 'CLOTHES')]

The last record is:
(4, 'T-SHIRT', 5, 'CLOTHES')

The record with ID=3 has been updated successfully!

The record with ID=4 has been removed successfully!


The table has been deleted successfully!

The list of table names is:
{1: 'TableProducts'}

The amount of entries in the table is:
3

In [2]:
#Create table paradigms
try:
    columns = """
            ID INTEGER PRIMARY KEY AUTOINCREMENT,
            PARADIGM VARCHAR(50),
            ENTRYCOUNT INTEGER,
            MAXSCORE VARCHAR(20)"""
    CreateTable("BaseParadigms","TABLE_PARADIGMS",columns)
    print("Table created successfully!\n")
except sqlite3.OperationalError:
    print("Table already exists!!!!\n")

def ReadAllTableNames(DATABASE_NAME):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    records=myCursor.fetchall()
    myConnection.close()
    records_copy = records
    for table in records_copy:
      if table[0] == "TABLE_PARADIGMS":
        records.remove(table)
    records.remove(('sqlite_sequence',))
    records_copy = records
    records = []
    for i in records_copy:
      records.append(i[0])

    return records

def GetEntryAmount(DATABASE_NAME, TABLE_NAME):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute("SELECT COUNT(*) FROM " + TABLE_NAME)
    records=myCursor.fetchall()
    myConnection.close()
    return records[0][0]

#Insert tables into tableparadigms
necesary_tables = ReadAllTableNames("BaseParadigms")
tables_we_have = ReadRecords("BaseParadigms", "TABLE_PARADIGMS")
tables_we_have = []
for table in ReadRecords("BaseParadigms", "TABLE_PARADIGMS"):
  tables_we_have.append(table[1])
for table in necesary_tables:
  if table not in tables_we_have:
    InsertRecord("BaseParadigms","INSERT INTO TABLE_PARADIGMS VALUES (NULL,'" + table + "'," + str(GetEntryAmount("BaseParadigms", table)) + ",0)")
    print("Record inserted successfully!\n")

Table created successfully!