<a href="https://colab.research.google.com/github/GenaroHacker/crystal_clear/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/GenaroHacker/crystal_clear.git
%run crystal_clear/sql.ipynb

Cloning into 'crystal_clear'...
remote: Enumerating objects: 67, done.
remote: Counting objects: 100% (67/67), done.
remote: Compressing objects: 100% (64/64), done.
remote: Total 67 (delta 33), reused 11 (delta 1), pack-reused 0
Unpacking objects: 100% (67/67), done.
Table created successfully!

Record inserted successfully!

Records inserted successfully!

The list of tuples with all the records is:
[(1, 'BALL', 10, 'SPORT'), (2, 'GOLF STICK', 25, 'SPORT'), (3, 'GLASS', 20, 'CERAMIC'), (4, 'T-SHIRT', 5, 'CLOTHES')]

The last record is:
(4, 'T-SHIRT', 5, 'CLOTHES')

The record with ID=3 has been updated successfully!

The record with ID=4 has been removed successfully!


The table has been deleted successfully!

The list of table names is:
{1: 'TableProducts'}

The amount of entries in the table is:
3